
h1 {
    font-family: 'Roboto', sans-serif;
    line-height:50px;
}

.form-control{
    border-radius:0px;
}

.form-control:focus{
    border-color: #000000;
    box-shadow:none;
}

.header_container {
    height:100px;
    text-align:center;
    border-bottom:1px solid black;
}

.calculator_title {
    text-align:center;
    margin-top:50px;
}

.calculator_container {

    text-align:left;
    padding-top:20px;
    padding-bottom:20px;
    border:1px solid black;
}

.answer_container {
    text-align:left;
    margin-top:20px;
}

.message_container {
    border-bottom:1px solid black;
    text-align:center;
    margin-top:40px;
}