<!doctype html>
<html lang="en">
<head>

	<!-- Meta Tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/master.css" />

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	
	<title></title>

</head>

<body>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 header_container" id="app">
    		<h1>{{msg}}</h1>
		</div>
	</div>
	<div class="row">
		<p class="calculator_title">Fahrenheit to Celcius Calculator</p>
		<div class="col-sm-12 calculator_container">
			<div class="col-sm-6 col-sm-offset-3">
				<form class="form-inline">
					<div class="form-group">
						<label for="temp_input">Please enter a temperature in Fahrenheit:</label>
						<input type="text" class="form-control temp_input" v-model.number="temp_answer">
					</div>
				</form>
			</div>
			<div class="col-sm-6 col-sm-offset-3 answer_container">
				<p>Your temperature in Celcius: {{tempAnswer}}</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 message_container">
			<div class="col-sm-8 col-sm-offset-2">
				<p>This section will be added at a later date. Some of the thing I feel I want to demonstrate with the Vue framework is the ability to add watchers, examples of events, modular component reuseability, and much more.</p>
			</div>
		</div>
	</div>
</div>

	<!-- Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue@2.3.3"></script>
    <script type="text/javascript" src="js/master.js"></script>
</body>
</html>